*.egg-info
*/node_modules/
.pytest_cache
__pycache__
.idea
.vscode
venv
dist
build
/data
/log
/code_review
**/.DS_Store
*.pyc
code_review
.lingma
.qoder/*
.trae
.claude
CLAUDE.md
AGENTS.md
.env
/deploy/run
edr_agent_core/target/
/spring-ai-agentx/
/aicube-agentx/
.codegraph
openspec
/logs
edr_agent_core/logs/
/docs/requirements
